* {
  --bg-color: #222831;
  --bg-color-rgb: 34, 40, 49;
  --surface-color: #31363F;
  --surface-color-rgb: 49, 54, 63;
  --accent-color: #76ABAE;
  --border-color: #576072;
  --font-color: #EEEEEE;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
}

.border-color {
  border-color: var(--border-color) !important;
}

.surface {
  background-color: var(--surface-color);
}

.btn {
  background-color: var(--surface-color);
  color: var(--font-color);
}

.btn:active{
  background-color: var(--bg-color) !important;
}
