* {
  --body-color: #222831;
  --surface-color: #31363F;
  --accent-color: #76ABAE;
  --font-color: #EEEEEE;
}

body {
  background-color: var(--body-color);
  color: var(--font-color);
}

.border {
  border: 1px solid var(--accent-color);
}

.surface {
  background-color: var(--surface-color);
}
