* {
  --header-height: 60px;
}

.header {
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 1000;
}


.header .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
}
