
body {
  width: 100vw;
  min-height: 100vh;
}

.form-control {
  max-width: 280px;
}

.btn {
  max-width: 280px;
}


@media screen and (max-width: 576px) {
  .login-form-container {
    border-right: none !important;
    border-left: none !important;
    border-radius: 0px !important;
  }
}
@media screen and (min-width: 576px) {
  .login-form-container {
    width: 300px !important;
  }
}


