#new-post-form, #edit-post-form {
  width: 100%;
  max-width: 500px;
}

.post {
  color: #EEEEEE;
  display: block;
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer;
}

.owner-link {
  color: rgba(var(--font-color-rgb), 0.6);
}

.post-img {
  width: 100%;
  max-height: 400px;
  object-fit: contain;
  background: black;
  position: static;
  overflow: hidden;
  padding-top: 1px; /* Por alguna razon la imagen se sale del borde sin esto*/
}


.post-header h2 {
  overflow:hidden;
  margin-right: 1rem;
}

.post .btn, .post .owner-link {
  z-index: 2;
}

.post .a {
  z-index: 1;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inset-0 {
  inset:0;
}

@media (max-width: 768px) {
  .post-img {
    max-height: 250px;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .post-img {
    max-width: 250px;
  }
  .post-img-detail {
    max-width: 100%;
    width: 100%;
  }
  .post-edit-img {
    width: 100%;
    max-width: 100%;
    max-height: 200px;
  }
}


