.profile-section .avatar {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
}

.profile-section {
    min-width: 200px; 
}

.main-section-options {
  max-width: 1000px;
}

.main-section-options li {
    list-style: none;
    display: flex;
    padding: 0;
    cursor: pointer;
}

.active {
    color: var(--bg-color);
    background-color: rgba(var(--font-color-rgb), 0.8);
}

.main-section-options li:first-child {
    border-top-left-radius: var(--bs-border-radius);
    border-bottom-left-radius: var(--bs-border-radius);
}

.main-section-options li:last-child {
    border-top-right-radius: var(--bs-border-radius);
    border-bottom-right-radius: var(--bs-border-radius);
}

.main-section-options li:hover:not(.active) {
    background-color: rgba(0, 0, 0, 0.1);
}
