.sidebar {
  max-width: 250px !important;
}

.sidebar i {
  position: relative;
  top: 1px;
}


.sidebar .avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
}

.sidebar .nav-item {
  cursor: pointer;
  font-size: 1em;
}

.sidebar .nav-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 768px) {
  .sidebar {
    position: fixed;
    width: 200px;
    top: var(--header-height);
  }
  .sidebar .avatar {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .sidebar {
    position: sticky;
    top: var(--header-height);
    height: 500px;
  }
}
